*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# AWS credentials
.aws-credentials

# Env variables
.env

# Test results
test-results

# Coverage results
coverage

# Build results
build
